.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
  }
  .home-icon {
    height: 30px;
    width: 30px;
  }
  .home-image {
    height: 800px;
  }
  .line {
    width: 100%;
  }
  